parameters:
	ignoreErrors:
		-
			message: "#^Property Chudno\\\\Promptchan\\\\Services\\\\ChatService\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/Services/ChatService.php
